<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h3>
				h3. 这是一套可视化布局系统.
			</h3>
			<form>
				<fieldset>
					 <legend>表单项</legend> <label>表签名</label><input type="text" /> <span class="help-block">这里填写帮助信息.</span> <label class="checkbox"><input type="checkbox" /> 勾选同意</label> <button type="submit" class="btn">提交</button>
				</fieldset>
			</form> <button class="btn btn-primary" type="button">按钮</button>
		</div>
	</div>
</div>