<div class="well">
  <h3>用户列表</h3>
</div>
<div>
<form action="/wechat_users" method="get">
  <select name='subscribe'>
    <option value='true'>关注</option><option value='false'>未关注</option>
  </select>
  <input type="submit" value="查询" class="btn" />  
</form>
</div>
<table class="table table-hover">
  <thead>
    <tr>
    <th>name</th>
    <th>open_id</th>
    <th>是否关注</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @wechat_users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.open_id %></td>
    <th><%=raw(user.is_subscribe ? "已关注" : "取消关注")%></th>
    <td><%= link_to 'Edit', edit_wechat_user_path(user) %></td>
  </tr>
<% end %>
</tbody>
</table>