<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @message_auto_reply_news.content %>
</p>


<%= link_to 'Edit', edit_message_auto_reply_news_path(@message_auto_reply_news) %> |
<%= link_to 'Back', message_auto_reply_news_path %>
