<div class="well">
  <h3>用户列表</h3>
</div>
<table class="table table-hover">
  <thead>
    <tr>
    <th>open_id</th>
    <th>email</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= user.wechat_user_open_id %></td>
    <td><%= user.email %></td>
    <td>  <%= link_to '查看祝福', :action => "index_byuser" ,:controller => "cards",:uid => user.id %>
    </td>
  </tr>
<% end %>
</tbody>
</table>