<table class="table table-striped">
  <thead>
    <tr>
    <th>发送者</th>
    <th>发送时间</th>
    <th>内容</th>
  </tr>
</thead>
<tbody>
<% @message_receive_texts.each do |message_receive_text| %>
  <tr>
    <td><%= message_receive_text.from_user_name %></td>
    <td><%= message_receive_text.create_time %></td>
    <td><%= message_receive_text.content %></td>
  </tr>
<% end %>
</tbody>
</table>


