<table class="table table-striped">
  <thead>
    <tr>
    <th>发送者</th>
    <th>发送时间</th>
    <th>音乐</th>
    <th>recognition</th>
  </tr>
</thead>
<tbody>
<% @message_receive_voices.each do |message_receive_voice| %>
  <tr>
    <td><%= message_receive_voice.from_user_name %></td>
    <td><%= message_receive_voice.create_time %></td>
    <td><%= message_receive_voice.media_id %></td>
    <td><%= message_receive_voice.recognition %></td>
  </tr>
<% end %>
</tbody>
</table>


